

///////////////////////////////////////////////////////////////////////////////
// Colors /////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////


$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$bg-color: rgba(76, 131, 255, 1);
$hd2-color: rgba(50, 72, 101, 1);
$hd3-color: rgba(26, 38, 74, 1);
$par-color: rgba(88, 94, 104, 1);
$btn-start-color: rgba(88, 81, 234, 1);
$btn-discover-color: rgba(40, 85, 252, 1);
$cite-color: rgba(85, 85, 85, 1);
$apostrophe-color: rgba(228, 228, 228, 1);
$hd5-color: rgba(206, 218, 248, 1);
$form-control-color: rgba(82, 126, 233, 1);
$users-review-color: rgba(116, 100, 253, 1);
$in-app-color: rgba(245, 249, 252, 1);
$hr-color: rgba(182, 192, 216, 0.95);
$hr-logos: rgba(203, 227, 250, 1);
$apostrophe-bg: rgba(248, 250, 252, 1);